# Archivos temporales
*.tmp
*.log

# Archivos de configuración local
.env
.config

# Archivos compilados o generados
/build
/dist
/node_modules

# Archivos de IDE o editor
.idea/
.vscode/
*.iml

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de depuración
*.pdb
*.dbg

# Archivos de datos
/data

# Archivos de documentación
/docs

# Excluir directorios específicos
/excluded-dir

# Excluir archivos específicos
/excluded-file.txt
